<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chess GUI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.css" />
</head>

<style>
    body {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.js"></script>

    <div id="board" style="width: 600px"></div>
    <div class="pgn">{{pgn}}</div>

    <script>
        var board = Chessboard('board', {
            draggable: true,
            position: '{{ board.fen() }}',
            pieceTheme: 'static/img/chesspieces/alpha/{piece}.png',
            onDrop: function (source, target, piece, newPos, oldPos, orientation) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('make_move') }}",
                    data: {
                        source: source,
                        target: target,
                        fen: board.fen(),
                    },
                    success: function (response) {
                        board.position(response.fen);
                        $(".pgn").text(response.pgn);
                    }
                });
            }
        });
    </script>
</body>

</html>